@import "libs/normalize";
@import "libs/grid";

@import "compass/css3";
@import "compass/typography";
@import "compass/utilities";

@import "webfonts/webfonts";

$one_em: 16px;

// Base CSS

* {
    @include box-sizing(border-box);
}

html {
    height: 100%;
    width: 100%;
    z-index:1;
}

body {
    min-height:100%;
}

.logo-background {
    display: block;
}

.logo-chair::before, .logo-fm::before {
	font: 5em 'FM Logo Regular';
	font-weight: normal;
	font-style: normal;
    line-height: 1.1;
    position: absolute;
    top: 0;
    left: 0;
    display:block;
    speak:none;
}

.logo-background::before {
	content: "\E001";
	font: 5em 'FM Logo Regular';
	font-weight: normal;
	font-style: normal;
    line-height: 1.1;
    display: block;
    speak:none;
}

.logo-chair::before {
    content: "\E003";
}

.logo-fm::before {
    content: "\E002"
}
    
.logo {
    a {
        position:relative;
        display: inline-block;
        text-decoration: none;
        z-index: 2000;
    }
}

.main-nav {
    font-family:'League Gothic Regular';
    text-transform: uppercase;
}

.chromeframe {
    color:#3c444f;
    text-align:center;
    font-family: 'Gentium Basic', serif;
    margin-top:0.7em;
}