$base_responsive_em: 1em;

@media screen and (min-width: (320px/$one_em) + 0em) {
    body {
        font-size: $base_responsive_em;
        padding-bottom: 5em;
    }
    
    .logo {
        padding-top:1em;
    }
    
    .main-nav {
        padding-top:0.85em;
        font-size: 1.5em;
        
        @include column(12);

        text-transform: uppercase;            
        text-align: center;
        
        padding-top: 0.9em;
        display: block;
    
        ul {
            list-style: none;
            padding: 0;
            display: inline-block;
        }
    
        li {
            display: inline;
            margin: 0 0.5em;
        }
        
        a {
            text-decoration: none;
            @include opacity(0.7);
                        
            @include border-radius(0.4em);
            padding: 0em 0.3em;
            
            &:hover {
                @include opacity(0.85);
                
                @include transition-property(color, opacity);
                @include transition-duration(0.3s);
                @include transition-timing-function(ease-in);
            }
        }

    }
    
    article {
        font-size:1.3em;
        line-height: 1.5;
        
        h3 {
            font-size: 1.7em;
            line-height: 1.2;
            font-weight: normal;
        }
        
        h4 {
            font-size: 1.7em;
            line-height: 1.2;
            font-weight: normal;
            margin-bottom: 0;
        }
        
        h5 {
            font-size: 1.1em;
            margin-bottom: 0;
        }
        
        p {
            text-align: justify;
            margin-top: 0.2em;
        }
        
        img {
            width:100%;
        }
        
        figure {
            padding: 0.2em;
            
            figcaption {
                margin-bottom: 0;
            }
            
            margin-bottom:1.5em;
        }
        
        ul, ol {
            padding-left:3em;
        }
        
        @include article-childs-width(90%)
    }
    
        
    .article-title-header, .archive-title-header {
        h1 {
            font-size: 2.3em;
            width:95%;
            text-align: center;
        }
            
        padding-bottom: 1em;
        padding-top:5.5em;
    }
    
    .home-content {
        position:fixed;
        width:100%;
        margin-top:9em;
        
        font-size:1.1em;
    }
    
    .index-title {
        font-family: "Open Sans";
        font-size: 2.5em;
        text-align: center;
        text-transform: uppercase;
        margin-top:0;
        margin-bottom:0.3em;
    }
    
    blockquote {
        position:relative;
        border-radius:0.4em;
        
        font-family: 'Gentium Basic', sans-serif;
        
        padding:0.1em;
        width:90%;

        margin-left:auto;
        margin-right:auto;
        
        p {
            padding:0;
            margin:0.5em 0.8em;
            text-align:justify;
            font-size: 1.2em;
        }
        
        &:before {
            content:"\201C";
            font-size: 5em;
            position:absolute;
            top:-0.26em;
            font-family: 'Gentium Basic', sans-serif;
            opacity: 0.15;
        }
        
        &:after {
            content:"\201D";
            font-size: 5em;
            position:absolute;
            bottom:-0.45em;
            right:0.05em;
            font-family: 'Gentium Basic', sans-serif;
            opacity: 0.15;
        }
    }
    
    .blockquote-footer {
        margin-top:0.7em;
        text-align:right;
        font-size: 1.2em;
    }
    
    .french-articles, .english-articles, .french-tags, .english-tags {
        header {
            font-family: "Open Sans";
            text-transform: uppercase;
            text-align:center;
        }
    }
    
    .archive-article-list, .tags-list {
        
        font-family: 'Gentium Basic', serif;
        padding:0;
        
        @include columns(0 1);

        li {
            margin:0;
            
            a {
                padding: 0 0.3em;
                font-size:1.2em;
                line-height:1.5;
            }
        }
    }
    
    .greetings {
        font-size: 2.2em;
    }
    
    .greetings-parts {
        margin-bottom: 0.5em;
        margin-left:0.1em;
        margin-right:0.1em;
        
        display: block;
    }
    
    .developer {
        font-size: 0.75em;
        margin-left:0.3em;
        margin-right:0.3em;
    }
    
    .job {
        font-size: 0.55em;
        margin-left:0.5em;
        margin-right:0.5em;
    }
    
    .home-photo-credit {
        font-size: 0.7em;
        position: absolute;
        bottom: 0.4em;
        right: 0.4em;
        padding: 0.3em;
    }
}

@media screen and (min-width: (400px/$one_em) + 0em) {
    body {
        font-size: (1.1 * $base_responsive_em) + 0em; // (17px)
    }
    
    article {
        @include article-childs-width(85%)
    }
}

@media screen and (max-width: (599px/$one_em) + 0em) {
    
    .logo {
        @include column(12);
        text-align:center;
    }
    
    .main-nav {
        li:nth-child(2) {
            position:relative;
            top: 2.5em;
        }
    }
    
    .en .main-nav ul {
        position:relative;
        left:0.4em;
    }
    
    .fr .main-nav ul {
        position:relative;
        left:-0.15em;
    }
    
    .article-title-header, .archive-title-header {
        padding-top:7em;
    }
    
    .language-chooser {
        display: none;
    }
    
    @include logo-styles-opacity;
    
    .greetings {
        font-family: 'Gentium Basic', serif;
        font-weight:normal;
        
        line-height:1;
    }
    
    .greetings-parts {
        display: block;
        text-align:center;
        background-color:white;
        color: #3c444f;
        line-height:1.2;
        padding: 0 0.3em;
        
        @include opacity(0.8);
    }
}

@media screen and (min-width: (600px/$one_em) + 0em) {
    
    body {
        font-size: (1.2 * $base_responsive_em) + 0em; // (17px)
    }
    
    .master {
        @include container();
    }
    
    .menu-mini {
        display:none;
    }

    .logo {
        @include column(3);
        text-align: center;
    }
    
    .main-nav {
        @include column(9);
        @include push(3);
            
        text-align: center;
        
        display: block;
        
        li {
            display: inline;
            margin: 0 0.2em;
        }
        
        ul {
            margin-left:-1em;
        }
    }
    
    article {
        @include article-childs-width(78%);
        
        .content {
            position:relative;
        }

        font-size:1.2em;
        
        h3 {
            font-size: 1.5em;
            line-height: 1.2;
            font-weight: normal;
        }
        
        h4 {
            font-size: 1.5em;
            line-height: 1.2;
            font-weight: normal;
            margin-bottom: 0;
        }
        
        h5 {
            font-size: 1.0em;
            margin-bottom: 0;
        }
    }
    
    .language-chooser {
        margin-left: 2.5em;
        font-size: 1em;
        text-align:left;
        display:inline-block;
        position:relative;
        top:0.3em;
        
        span {
            font-size: 0.7em;
            line-height: 1;
            display:block;
        }
        
        .language-bullet {
            position:absolute;
            font-size: 0.3em;
            
            @include transition-property(transform, color);
            @include transition-duration(0.3s);
            @include transition-timing-function(ease-in);
        }
        
        a {
            display: inline-block;
            padding:0;
            margin:0;
        }
    }
    
    .bullet-english-default {
        @include transform(translate3d(-1.3em, -4em, 0));
    }
    
    .bullet-french-default {
        @include transform(translate3d(-1.3em, -1.8em, 0));
    }
    
    .bullet-before-english {
        @include transform(translate3d(-1.3em, -4em, 0));
    }
    
    .bullet-before-french {
        @include transform(translate3d(-1.3em, -1.8em, 0));
    }
    
    
    .en_only, .fr_only {
        top:-0.1em;
        position:relative;
        
        .bullet-before-english, .bullet-english-default {
            @include transform(translate3d(-1.3em, -1.8em, 0));
        }
        
        .choose-english:hover {
            
            &:after {
                position: absolute;
                top: 1.5em;
                right: 0;
                
                z-index: 98;
                
                border-radius: 0.3em;                
                padding: 0.8em 0.8em;
                width: 7em;
                
                content: attr(data-tooltip);
                
                background: #333;
                background: rgba(0,0,0,.8);
                color: #fff;
                font-family: "Open Sans";
                text-transform:none;
                font-size:0.7em;
                font-weight:normal;
                
                text-align:center;
            }
        }
    }
    
    .en_only {
        .french {
            display:none;
        }
    }
    
    .fr_only {
        .english {
            display:none;
        }
    }
    
    .navigation {
        width:100%;
        @include container();
    }
    
    // ------ Article Navigation
    
    .next-article, .previous-article {        
        //padding: 0.5em;
        
        // Generic font -> Go normally to theme
        font-family: "Open Sans";
        text-transform:uppercase;
        font-size: 0.5em;
        text-align:center;
        
        a {
            text-decoration:none;
            font-weight:bold;
            font-size:1.5em;
            display:block;
            
            @include backface-visibility(hidden);
            
            @include transition-property(opacity);
            @include transition-duration(0.3s);
            @include transition-timing-function(ease-in);
            
            &:before {
                font-family: "FM Logo Regular";
                font-size:6em;
                
                @include transition-property(opacity);
                @include transition-duration(0.3s);
                @include transition-timing-function(ease-in);
            }
        }
    }
    
    .stuck {
        position:fixed;
        top:40%;
    }
    
    .next-article, .previous-article {
        font-size: 0.33em;
        a {
            font-size:1.5em;
        }
    }
    
    .next-article {
        @include column(2);
        @include push(10);
        
        a {
            &:before {
                content:"D";
            }
        }
    }
    
    .previous-article {
        @include column(2);
        
        a {
            &:before {
                content:"A";
            }
        }
    }
    
    .article-navigation-tip-block {
        display:block; // Force wrap.
    }
    
    .home-content {
        margin-top:6em;
        font-size:1.2em;
    }
    
    .index-title {
        font-family: "Open Sans";
        font-size: 3.5em;
        text-align: center;
        text-transform: uppercase;
        margin-top:0;
    }
    
    blockquote {
        width:80%;
    }
    
    .all-language-archive-list, .all-language-tag-list {
        @include container();
    }
    
    .french-articles, .french-tags {
        @include column(6);
    }
    
    .english-articles, .english-tags {
        @include column(6);
        @include push(6); 
    }
    
    .greetings {
        font-size: 2.0em;
        font-family: 'Gentium Basic', serif;
        font-weight:normal;
        
        line-height:1;
    }
    
    .greetings-parts {
        display: inline-block;
        line-height:1.2;
        padding: 0 0.3em;
    }
    
    .my-name-is {
        @include push(1)
    }
    
    .developer {
        font-size: 0.60em;
        @include push(1);
        position:relative;
        top:-0.1em;
    }
    
    .job {
        font-size: 0.5em;
        @include push(1)
    }
}

@media screen and (min-width: (600px/$one_em) + 0em)
              and (max-width: (799px/$one_em) + 0em) {
    
    .next-article, .previous-article {
        
        position:relative;
        
      a {
          font-size: 1.0em;
          visibility:hidden;
          &:before {
              visibility:visible;
          }
      }
    }
    
    .next-article {
        @include column(1);
        @include push(11);
        
        right: 0.7em;
    }
    
    .previous-article {
        @include column(1);
        
        left: 0.7em;
    }
}

@media screen and (min-width: (800px/$one_em) + 0em) {
    body {
        font-size: (1.3 * $base_responsive_em) + 0em; // (17px)
    }
    
    .language-chooser {
        margin-left: 3em;
    }
    
    .main-nav {
        ul {
            margin-left:-1em;
        }
    }
    
    .home-content {
        font-size:1.2em;
    }
    
    .index-title {
        font-family: "Open Sans";
        font-size: 4em;
        text-align: center;
        text-transform: uppercase;
        margin-top:0;
    }
    
    blockquote {
        width:70%;
    }
    
    .next-article, .previous-article {
        font-size: 0.35em;
        position:relative;
        
        a {
            font-size:1.5em;
        }
    }
    
    .next-article {
        right:-1em;
    }
    
    .previous-article {
        left:-1em;
    }
    
    article {
        @include article-childs-width(70%);
    }
    
    .greetings {
        font-size: 2.5em;
    }
    
    .my-name-is {
        @include push(1)
    }
    
    .developer {
        font-size: 0.62em;
        @include push(2);
        position:relative;
        top:-0.1em;
    }
    
    .job {
        font-size: 0.5em;
        @include push(3)
    }
}

@media screen and (min-width: (1030px/$one_em) + 0em) {
    body {
        font-size: (1.4 * $base_responsive_em) + 0em; // (17px)
    }
    
    .language-chooser {
        margin-left: 4em;
    }
    
    article {
        @include article-childs-width(56%);
    }
    
    blockquote {
        width:60%;
    }
    
    .next-article, .previous-article {
        font-size: 0.4em;
        position:static;
        
        a {
            font-size:1.5em;
        }
    }
    
    .archive-article-list, .tags-list {
        @include columns(0em 1);   
    }
    
    .greetings {
        font-size: 2.5em;
    }
    
    .my-name-is {
        @include push(1)
    }
    
    .developer {
        font-size: 0.67em;
        @include push(3);
        position:relative;
        top:0.15em;
    }
    
    .job {
        font-size: 0.5em;
        @include push(5)
    }
}

@media screen and (min-width: (1300px/$one_em) + 0em) {
    article {
        @include article-childs-width(50%);
        font-size:1.3em;
    }
    
    .greetings {
        font-size: 3em;
    }
}

@media screen and (min-width: (1600px/$one_em) + 0em) {
    body {
        font-size: (1.5 * $base_responsive_em) + 0em; // (17px)
    }
    
    article {
        @include article-childs-width(50%);
        
        font-size:1.3em;
    }
    
    .article-title-header, .archive-title-header {
        h1 {
            font-size: 2.8em;
        }
    }
    
    blockquote {
        width:50%;
    }
    
    .next-article, .previous-article {
        font-size: 0.5em;
        
        a {
            font-size:1.5em;
        }
    }
    
    .archive-article-list, .tags-list {
        @include columns(0.1em 2);
    }
    
    
    .greetings {
        font-size: 3.5em;
    }
}

/*@media screen and (min-width: (1200px/$one_em) + 0em) and (min-height: (1500px/$one_em) + 0em) {
    
}

@media screen and (min-width: (1650px/$one_em) + 0em) and (min-height: (1500px/$one_em) + 0em) {
    
}

@media screen and (min-height: (700px/$one_em) + 0em) {
    
}*/