@media screen and (min-width: (320px/$one_em) + 0em) {
    body {
        font-size: 1em; // (16px)
    }
    
    .logo {
        padding-top:1em;
    }
    
    .main-nav {
        padding-top:0.85em;
        font-size: 1.5em;
        
        @include column(12);

        text-transform: uppercase;            
        text-align: center;
        
        padding-top: 0.9em;
        display: block;
    
        ul {
            list-style: none;
            padding: 0;
            display: inline-block;
        }
    
        li {
            display: inline;
            margin: 0 0.5em;
        }
        
        a {
            text-decoration: none;
            @include opacity(0.7);
                        
            @include border-radius(0.4em);
            padding: 0em 0.3em;
            
            &:hover {
                @include opacity(0.85);
                
                @include transition-property(color, opacity);
                @include transition-duration(0.3s);
                @include transition-timing-function(ease-in);
            }
        }

    }
    
    article {
        font-size:1.2em;
        
        h3 {
            font-size: 1.4em;
        }
        
        h4 {
            font-size: 1.3em;
            font-weight: bold;
            margin-bottom: 0;
        }
        
        h5 {
            font-size: 1.1em;
            margin-bottom: 0;
        }
        
        header {
            h1 {
                font-size: 2.3em;
                width:95%;
                text-align: center;
            }
            
            padding-bottom: 1em;
            padding-top:5.5em;
        }
        
        p {
            text-align: justify;
            margin-top: 0.2em;
        }
        
        img {
            width:100%;
        }
        
        figure {
            padding: 0.2em;
            
            figcaption {
                margin-bottom: 0;
            }
            
            margin-bottom:1.5em;
        }
        
        ul, ol {
            padding-left:3em;
        }
        
        @include article-childs-width(90%)
    }
}

@media screen and (min-width: (400px/$one_em) + 0em) {
    body {
        font-size: 1.1em; // (17px)
    }
    
    article {
        @include article-childs-width(85%)
    }
}

@media screen and (max-width: (599px/$one_em) + 0em) {
    
    .logo {
        @include column(12);
        text-align:center;
    }
    
    .main-nav {
        li:nth-child(2) {
            position:relative;
            top: 2.5em;
        }
    }
    
    article {
        header {
            padding-top:7em;
        }
    }
    
    .language-chooser {
        display: none;
    }
    
    @include logo-styles-opacity;
}

@media screen and (min-width: (600px/$one_em) + 0em) {
    
    body {
        font-size: 1.2em; // (17px)
    }
    
    .master {
        @include container();
    }
    
    .menu-mini {
        display:none;
    }

    .logo {
        @include column(3);
        text-align: center;
    }
    
    .main-nav {
        @include column(9);
        @include push(3);
            
        text-align: center;
        
        display: block;
        
        li {
            display: inline;
            margin: 0 0.2em;
        }
        
        ul {
            margin-left:-1em;
        }
    }
    
    article {
        @include article-childs-width(65%)
    }
    
    .language-chooser {
        margin-left: 2.5em;
        font-size: 1em;
        text-align:left;
        display:inline-block;
        position:relative;
        top:0.3em;
        
        span {
            font-size: 0.7em;
            line-height: 1;
            display:block;
        }
        
        .language-bullet {
            position:absolute;
            font-size: 0.3em;
            
            @include transition-property(transform, color);
            @include transition-duration(0.3s);
            @include transition-timing-function(ease-in);
        }
        
        a {
            display: inline-block;
            padding:0;
            margin:0;
        }
    }
    
    .bullet-before-english, .bullet-english-default {
        @include transform(translate3d(-1.3em, -4em, 0));
    }
    
    .bullet-before-french, .bullet-french-default {
        @include transform(translate3d(-1.3em, -1.8em, 0));
    }
    
    .en_only, .fr_only {
        top:-0.1em;
        position:relative;
        
        .bullet-before-english, .bullet-english-default {
            @include transform(translate3d(-1.3em, -1.8em, 0));
        }
        
        .choose-english:hover {
            
            &:after {
                position: absolute;
                top: 1.5em;
                right: 0;
                
                z-index: 98;
                
                border-radius: 0.3em;                
                padding: 0.8em 0.8em;
                width: 7em;
                
                content: attr(data-tooltip);
                
                background: #333;
                background: rgba(0,0,0,.8);
                color: #fff;
                font-family: "Open Sans";
                text-transform:none;
                font-size:0.7em;
                font-weight:normal;
                
                text-align:center;
            }
        }
    }
    
    .en_only {
        .french {
            display:none;
        }
    }
    
    .fr_only {
        .english {
            display:none;
        }
    }
    
    .next-article, .previous-article {
        position: fixed;
        background: rgba(0, 0, 0, 0.1);
        padding: 0.5em;
        z-index: 2000;
        top: 64%;
        font-size: 0.5em;
        width: 10em;
    }
    
    .next-article {
        right:0;
        text-align:right;
        
        &:before {
            content:"\276F"
        }
    }
    
    .previous-article {
        left:0;
        text-align:left;
        
        &:after {
            content:"\276E"
        }
    }
}

@media screen and (min-width: (800px/$one_em) + 0em) {
    body {
        font-size: 1.4em; // (17px)
    }
    
    .language-chooser {
        margin-left: 3em;
    }
    
    .main-nav {
        ul {
            margin-left:-1em;
        }
    }
}

@media screen and (min-width: (1030px/$one_em) + 0em) {
    body {
        font-size: 1.6em; // (17px)
    }
    
    .language-chooser {
        margin-left: 4em;
    }
    
    article {
        @include article-childs-width(55%)
    }
}

@media screen and (min-width: (1600px/$one_em) + 0em) {
    body {
        font-size: 1.6em; // (17px)
    }
    
    article {
        @include article-childs-width(45%);
        
        header {
            h1 {
                font-size: 2.8em;
            }
        }
    }
}

/*@media screen and (min-width: (1200px/$one_em) + 0em) and (min-height: (1500px/$one_em) + 0em) {
    
}

@media screen and (min-width: (1650px/$one_em) + 0em) and (min-height: (1500px/$one_em) + 0em) {
    
}

@media screen and (min-height: (700px/$one_em) + 0em) {
    
}*/