@media screen and (min-width: (320px/$one_em) + 0em) {
    body {
        font-size: 1em; // (17px)
    }
    
    #top-background {
        h1 {
            font-size: 2.5em;
            padding:2.5em 0.4em 0.4em 0.4em;
        }
    }
    
    .main-nav {
        font-family:'League Gothic Regular';
        font-size: 1.5em;
        text-transform: uppercase;
    }
    
    article {
        @include article-childs-width(90%)
    }
}

@media screen and (min-width: (400px/$one_em) + 0em) {
    body {
        font-size: 1.1em; // (17px)
    }
    
    article {
        @include article-childs-width(85%)
    }
}

@media screen and (max-width: (599px/$one_em) + 0em) {
    .logo {
        @include column(12);
        text-align:center;
    }
    
    .menu-mini {
        display: block;
        position: absolute;
        right:0;
        top:0;
        @include transform(translate3d(-1.5em, 1em, 0px));
        
        font-size:2em;
        
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 0.8em;
          height: 0.125em;
          border-top: 0.375em double rgba(0, 0, 0, 0.5);
          border-bottom: 0.125em solid rgba(0, 0, 0, 0.5);
        }
    }
    
    $viewport-menu-offset:10.2em;
    $main-nav-font-size:1.5em;
    $main-nav-line-height:1.5;
    $number-of-menu-items:3;
    
    .main-nav {
        position:absolute;
        top:0;
        
        font-size: $main-nav-font-size;
        line-height:$main-nav-line-height;
        
        text-transform: uppercase;
        width: 100%;
        
        @include transform(translate3d(
            0px,
            -$number-of-menu-items * $main-nav-line-height * 1em, 
            0px));
        
        ul {
            list-style: none;
            width: 100%;
            padding-left:0;
            margin:0;
        }
        
        li {
            display: block;
            width: 100%;
            text-align:center;
            border-top:1px #FF0000 solid;
            
            &:first-child {
                border:none;
            }
        }
        
        a {
            text-decoration:none;
        }
    }
    
    .in-viewport {
        @include transform(translate3d(0px, $number-of-menu-items * $main-nav-line-height * $main-nav-font-size, 0px));
        
        @include transition-property(translate3d);
        @include transition-duration(0.7s);
        @include transition-timing-function(ease-in-out);
    }
    
    .content-wrapper {
        @include transition-property(translate3d);
        @include transition-duration(0.7s);
        @include transition-timing-function(ease-in-out);
    }
    
    @include logo-styles-opacity;
}

@media screen and (min-width: (600px/$one_em) + 0em) {
    
    body {
        font-size: 1.2em; // (17px)
    }
    
    .menu-mini {
        display:none;
    }

    .logo {
        @include column(3);
        text-align: center;
    }
        
    .main-nav {
        @include column(7);
        @include push(1);
        @include pull(1);
            
        text-align: center;
        
        padding-top: 0.9em;
        display: block;
    
        ul {
            list-style: none;
            padding: 0;
            display: inline-block;
        }
    
        li {
            display: inline;
            margin: 0 0.5em;
        }
        
        a {
            text-decoration: none;
            color: #a7a7a7;
            padding: 0.1em;
            @include opacity(0.7);
            
            &:hover {
                @include opacity(1);
                
                @include transition-property(opacity);
                @include transition-duration(0.3s);
                @include transition-timing-function(ease-in);
            }
        }
    }
    
    #top-background {
        h1 {
            padding: 0 0.5em;
            padding:2.8em 0.4em 0.6em 0.4em;
        }
    }
    
    article {
        @include article-childs-width(65%)
    }

}

@media screen and (min-width: (800px/$one_em) + 0em) {
    body {
        font-size: 1.4em; // (17px)
    }
}

@media screen and (min-width: (1030px/$one_em) + 0em) {
    body {
        font-size: 1.6em; // (17px)
    }
    
    article {
        @include article-childs-width(55%)
    }
}

@media screen and (min-width: (1600px/$one_em) + 0em) {
    body {
        font-size: 1.6em; // (17px)
    }
    
    article {
        @include article-childs-width(45%)
    }
}

/*@media screen and (min-width: (1200px/$one_em) + 0em) and (min-height: (1500px/$one_em) + 0em) {
    
}

@media screen and (min-width: (1650px/$one_em) + 0em) and (min-height: (1500px/$one_em) + 0em) {
    
}

@media screen and (min-height: (700px/$one_em) + 0em) {
    
}*/