// Base CSS

* {
    @include box-sizing(border-box);
}

html {
    height: 100%;
    width: 100%;
}

body {
	background-color: #dddddd;
    height:100%;
}

.logo-background {
    display:block;
    height: 5.1em;    
}

.logo-chair::before, .logo-fm::before {
	content: attr(data-icon);
	font: 5em 'FM Logo Regular';
	font-weight: normal;
	font-style: normal;
    line-height:1.1;
	position: absolute;
	top:0;
	left:0;
}

.logo-background::before {
	content: attr(data-icon);
	font: 5em 'FM Logo Regular';
	font-weight: normal;
	font-style: normal;
    line-height:1.1;
    display:block;
}
    
.logo {
    padding-top: 1em;
    @include column(3);
    margin-left: 0.5em;
    
    a {
        display: inline-block;
	    position: relative;
        text-decoration: none;
    }
}

.main-nav {
    font-family:'League Gothic Regular';
    text-transform: uppercase;
}


article {
    font: 1.2em 'Fanwood Regular';
    
    p {
        text-align: justify;
    }
}

#top-background {
	@include background-size(cover);
    
    h1 {
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        text-transform: uppercase;
    }
}

@include logo-styles
