// Base CSS

* {
    @include box-sizing(border-box);
}

html {
    min-height: 100%;
    width: 100%;
}

body {
	background-color: #dddddd;
    min-height:100%;
    margin-bottom:3em;
}

.logo-background {
    display: block;
}

.logo-chair::before, .logo-fm::before {
	content: attr(data-icon);
	font: 5em 'FM Logo Regular';
	font-weight: normal;
	font-style: normal;
    line-height: 1.1;
    position: absolute;
    top: 0;
    left: 0;
    display:block;
}

.logo-background::before {
	content: attr(data-icon);
	font: 5em 'FM Logo Regular';
	font-weight: normal;
	font-style: normal;
    line-height: 1.1;
    display: block;
}
    
.logo {
    a {
        position:relative;
        display: inline-block;
        text-decoration: none;
    }
}

.main-nav {
    font-family:'League Gothic Regular';
    text-transform: uppercase;
}
