- wrap_layout :layout do
    #content
        .navigation
            %span.next-article
                %a{href: "#"}
                    Next Article
            
            %span.previous-article
                %a{href: "#"}
                    Previous Article

        %article
            %header
                %h1
                    = data.page.title
            .content
                = yield