---
title: About Me
canonic_name: about
blog: false
---

.about-content
    .help
        %h3
            When I was young,
        %p
            Hi, I'm <span>Frederic Maquin</span>, a mobile and front-end developer crafting stuff in Strasbourg, France.
        %p
            Despite I'm primarily writing my blog entries in English, I might choose to express myself in French once in a while, hence the bilinguale nature of this place.
        %p
            Feel free to contact me or follow me on those social networks!