---
title: Frédéric Maquin
photo_credit: "<a href=\"http://www.flickr.com/photos/70117145@N05/8405110257/\">jrmllvr</a> <a href=\"http://creativecommons.org/licenses/by-nc-sa/2.0/\">cc</a>"
---

.home-content
    %blockquote{cite: "George Bernard Shaw"}
        %p
            = I18n.t(:quote_shaw)
        %footer.blockquote-footer
            — George Bernard Shaw