@mixin specific-article-theme-template {
    background-color: $background-color;
    color: $text-color;
    
    a {
        color: $link-color;
        
        &:visited {
            color: $link-visited-color;
        }
    }

    article, .article-list {
        
        font-family: $text-font, serif;
        
        figure {
            background-color: $figure-background-color;
        }
    }
    
    .article-title-header, .archive-title-header {
    	background: $background-image no-repeat center center;
    	@include background-size(cover);
            
        h1 {
            font-family: $title-font, sans-serif;
            text-transform: uppercase;
                
            color: $title-color;
                
            @include text-shadow($title-shadow);
        }
            
        @include box-shadow($header-shadow);
    }
    
    .main-nav {        
        a {
            color: $main-nav-color;
            @include text-shadow($nav-shadow);
            
            &:hover {
                color:$main-nav-hover-color;
            }
        }
    }
    
    .active {
        a {
            background-color:$nav-pill-background-color;
            color:$nav-pill-foreground-color;
            
            &:active {
                background-color:$nav-pill-active-background-color;
                color:$nav-pill-active-foreground-color;
            }
        }
    }
    
    .language-bullet {
        position:absolute;
            
        @include transition-property(transform);
        @include transition-duration(0.3s);
        @include transition-timing-function(ease-in);
        
        color:$main-nav-color;
    }
    
    .bullet-before-french, .bullet-before-english {
        color: $main-nav-hover-color;
    }
    
    .next-article, .previous-article {
        a {
            color:$article-navigation-text-color;
            @include opacity($article-navigation-icon-text-opacity);
            
            &:hover {
                color:$article-navigation-text-hover-color;
                @include opacity($article-navigation-icon-text-hover-opacity);
            }
            
            &:before {
                color:$article-navigation-icon-color;
            }
            
            &:before:hover {
                color:$article-navigation-icon-hover-color;
            }
        }
    }
}

@mixin totally-flat {
    .article-title-header, .archive-title-header {
        padding-bottom:0;
    }
}

body {
    @include logo-styles;
    @include specific-article-theme-template;
}

@import 'home';
@import 'about';
@import '2011-10-24-the-mess-of-using-slides';
@import '2013-02-02-no-images';
