.index,
.en_index,
.fr_index {

    // HTML entities colors
    $text-color: white;
    $title-color: white;
    
    $main-nav-color: rgb(167, 167, 167);

    $main-nav-active-color: lighten($main-nav-color, 10%);
    $main-nav-hover-color: darken($main-nav-color, 10%);
    
    // Logo
    $logo-background-color: white;
    $logo-background-opacity: 0.6;

    $logo-fm-color: rgb(167, 167, 167);
    $logo-fm-opacity: 0.5;

    $logo-chair-color: lighten($logo-fm-color, 20%);
    $logo-chair-opacity: 0;
    
    // Fonts
    
    // Shadows
    $nav-shadow: none;
    
    @include logo-styles;
    @include specific-article-theme-template;
    
    background: url(/images/snow-chair.jpg) no-repeat center center fixed;
    @include background-size(cover);
    
/*    .master {
        height:7em;
    }*/
    
    blockquote {
        color:#222222;
        background-color: rgba($logo-background-color, $logo-background-opacity)
    }
    
    .overall {
        background-color: rgba($logo-background-color, $logo-background-opacity);
        padding: 0.4em;
        position: absolute;
        bottom: 0;
        right: 1%;
    
        font: 0.7em 'Junction Regular';
        color: #222222;
        text-transform:uppercase;
    
        a {
            color: #222222;
            text-decoration:underline;
        }
    }
}