@font-face {
    font-family: 'FM Logo Regular';
    src: font-url('fm_logo_regular.eot');
    src: font-url('fm_logo_regular.eot?#iefix') format('embedded-opentype'),
         font-url('fm_logo_regular.woff') format('woff'),
         font-url('fm_logo_regular.ttf') format('truetype'),
         font-url('fm_logo_regular.svg#fm_logoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'League Gothic Regular';
    src: font-url('league_gothic_regular.eot');
    src: font-url('league_gothic_regular.eot?#iefix') format('embedded-opentype'),
         font-url('league_gothic_regular.woff') format('woff'),
         font-url('league_gothic_regular.ttf') format('truetype'),
         font-url('league_gothic_regular.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}