---
layout: out_blog_layout
title: Archives
in_blog: true
canonic_name: archives
---

- english_articles = blog.articles.map do |article|
    - article if article.lang == 'en'
- english_articles.compact!

- french_articles = blog.articles.map do |article|
    - article if article.lang == 'fr'
- french_articles.compact!

%div.archive-list
    %section.french-articles
        %header
            %h3 Articles written in French
            
        %ul.archive-article-list
            - french_articles.each do |article|
                %li
                    %span.article-date
                        = article.date.strftime('%d %B %Y')
                    %a{href: article.url}
                        = article.title
    
    %section.english-articles
        %header
            %h3 Articles written in English
        
        %ul.archive-article-list
            - english_articles.each do |article|
                %li
                    %span.article-date
                        = article.date.strftime('%d %B %Y')
                    %a{href: article.url}
                        = article.title
                