---
layout: blog_layout
in_blog: true
---

- article = blog.articles.last

- content_for :blog_index_dynamic_title do
    = article.destination_path.gsub("/","_").gsub("_index.html", "")

= article.body