---
title: Frédéric Maquin
---

%section.quote
    %h2
        %span.author-name
            Maya Angelou
        once said:
    %blockquote{cite: "Maya Angelou"}
        You can’t use up creativity. The more you use, the more you have. 